/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

@media (min-width: 768px) {
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
