<mat-toolbar color="primary">
    <span>Checkbook</span>
    <span class="filler"></span>
    <span [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']" mat-flat-button color="primary">Transactions</a>
    </span>
    <span [routerLinkActive]="['link-active']">
        <a [routerLink]="['/my-accounts']" mat-flat-button color="primary">My Accounts</a>
    </span>
    <span [routerLinkActive]="['link-active']">
        <a [routerLink]="['/merchant-accounts']" mat-flat-button color="primary">Merchant Accounts</a>
    </span>
    <span [routerLinkActive]="['link-active']">
        <a [routerLink]="['/budgets']" mat-flat-button color="primary">Budgets</a>
    </span>
</mat-toolbar>