<div class="container">
    <h1>Transaction</h1>

    <form *ngIf="transaction" (ngSubmit)="onSubmit()" #transactionForm="ngForm">
        <!-- ID -->
        <div class="form-group">
            <label for="transaction-id">Id</label>
            <input type="text" class="form-control" id="transaction-id" placeholder="{{transaction.id}}" readonly>
            <input type="hidden" name="id" [value]="transaction.id" />
        </div>

        <!-- Date -->
        <div class="form-group">
            <label for="transaction-date">Date</label>
            <input type="text" class="form-control" id="transaction-date" name="date" placeholder="date" required
                   [(ngModel)]="transaction.transactionDate" />
        </div>

        <!-- From -->
        <!--<div class="form-group">
        <label for="transaction-from">From</label>
        <input type="text" class="form-control" id="transaction-title" name="title" placeholder="Title" required
               [(ngModel)]="transaction.title" />
    </div>-->
        <!-- To -->
        <!--<div class="form-group">
        <label for="transaction-title">To</label>
        <input type="text" class="form-control" id="transaction-title" name="title" placeholder="Title" [(ngModel)]="transaction.title" required />
    </div>-->
        <!-- Amount -->
        <div class="form-group">
            <label for="transaction-amount">Amount</label>
            <input type="text" class="form-control" id="transaction-amount" name="amount" placeholder="Amount" required
                   [(ngModel)]="transaction.amount" />
        </div>

        <!-- Save -->
        <div class="form-group">
            <button type="submit" class="btn btn-default" [disabled]="!transactionForm.form.valid">Save</button>
        </div>

        <!-- Items -->
        <!--<div class="form-group">
        <label for="transaction-items">Items</label>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action"
                *ngFor="let item of transaction.items">{{item.description}}</li>
        </ul>
        <div class="alert alert-info"
             *ngIf="!transaction.items.length">No items.</div>
    </div>-->
    </form>
</div>
