<div>
    <div class="flex">
        <span class="filler"></span>
        <a [routerLink]="['/transactions/new']" mat-button color="primary">Payment</a>
        <a [routerLink]="['/transactions/new']" mat-button color="primary">Transfer</a>
        <a [routerLink]="['/transactions/new']" mat-button color="primary">Deposit/Refund</a>
    </div>

    <h1>Transactions</h1>

    <table mat-table [dataSource]="transactions">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'shortDate'}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>From</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.fromAccount.name}}</td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>To</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.toAccount.name}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.amount | currency:'USD'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let transaction">
                <a [routerLink]="['/transactions/edit/' + transaction.id]" mat-button color="primary">Edit</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>