<div class="container">
    <h1>Transactions</h1>

    <div class="row">
        <div class="col-1"><strong>ID</strong></div>
        <div class="col-2"><strong>Date</strong></div>
        <div class="col-3"><strong>Account</strong></div>
        <div class="col-3"><strong>Merchant</strong></div>
        <div class="col-3"><strong>Amount</strong></div>
    </div>
    <div class="row bg-light rounded mt-1" *ngFor="let transaction of transactions">
        <div class="col-1">
            <h3>
                <a [routerLink]="['/transactions/edit/' + transaction.id]">{{transaction.id}}</a>
            </h3>
        </div>
        <div class="col-2">
            <h3>
                <a [routerLink]="['/transactions/edit/' + transaction.id]">{{transaction.transactionDate | date:'shortDate'}}</a>
            </h3>
        </div>
        <div class="col-3">
            <h3>
                <a [routerLink]="['/transactions/edit/' + transaction.id]">{{transaction.bankAccount.name}}</a>
            </h3>
        </div>
        <div class="col-3">
            <h3>
                <a [routerLink]="['/transactions/edit/' + transaction.id]">{{transaction.merchant.name}}</a>
            </h3>
        </div>
        <div class="col-3">
            <h3>
                <a [routerLink]="['/transactions/edit/' + transaction.id]">{{transaction.amount | currency:'USD'}}</a>
            </h3>
        </div>
    </div>
</div>
